<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simform.videoimageeditor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoImageEditor">
        <activity android:name=".otherFFMPEGProcessActivity.MergeGIFActivity"></activity>
        <activity android:name=".videoProcessActivity.AspectRatioActivity" />
        <activity android:name=".videoProcessActivity.MergeImageAndMP3Activity" />
        <activity android:name=".videoProcessActivity.RemoveAudioFromVideoActivity" />
        <activity android:name=".videoProcessActivity.AddTextOnVideoActivity" />
        <activity android:name=".videoProcessActivity.MergeAudioVideoActivity" />
        <activity android:name=".videoProcessActivity.VideoRotateFlipActivity" />
        <activity android:name=".videoProcessActivity.VideoToGifActivity" />
        <activity android:name=".videoProcessActivity.VideoFadeInFadeOutActivity" />
        <activity android:name=".videoProcessActivity.ReverseVideoActivity" />
        <activity android:name=".videoProcessActivity.MotionActivity" />
        <activity android:name=".videoProcessActivity.ExtractAudioActivity" />
        <activity android:name=".videoProcessActivity.ExtractImagesActivity" />
        <activity android:name=".videoProcessActivity.CompressVideoActivity" />
        <activity android:name=".videoProcessActivity.CombineVideosActivity" />
        <activity android:name=".videoProcessActivity.CombineImagesActivity" />
        <activity android:name=".videoProcessActivity.CombineImageAndVideoActivity" />
        <activity android:name=".videoProcessActivity.AddWaterMarkOnVideoActivity" />
        <activity android:name=".videoProcessActivity.ImageToVideoConvertActivity" />
        <activity android:name=".videoProcessActivity.CutVideoUsingTimeActivity" />
        <activity android:name=".middlewareActivity.VideoProcessActivity" />
        <activity android:name=".middlewareActivity.OtherFFMPEGProcessActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>