<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simform.videoimageeditor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoImageEditor">
        <activity android:name=".otherFFMPEGProcessActivity.CompressAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherFFMPEGProcessActivity.CropAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherFFMPEGProcessActivity.ChangeAudioVolumeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherFFMPEGProcessActivity.AudiosMergeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherFFMPEGProcessActivity.MergeGIFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherFFMPEGProcessActivity.FastAndSlowAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.AspectRatioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.MergeImageAndMP3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.RemoveAudioFromVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.AddTextOnVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.MergeAudioVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.VideoRotateFlipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.VideoToGifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.VideoFadeInFadeOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.ReverseVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.FastAndSlowVideoMotionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.ExtractAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.ExtractImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.CompressVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.CombineVideosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.CombineImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.CombineImageAndVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.AddWaterMarkOnVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.ImageToVideoConvertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoProcessActivity.CutVideoUsingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".middlewareActivity.VideoProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".middlewareActivity.OtherFFMPEGProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>